$screen-sm-min: 767px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


.dax30-start {
  padding: 60px 0;
  background-color: #fff;
  &__text {
    margin: 10px 0 40px;
  }

  &__step {
    text-align: center;
  }

  &__step-icon {

  }
  &__step-title {
    color: #424559;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 19px 0 20px;
  } 

  &__btns {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__btn {
    text-transform: uppercase;
    min-width: 200px;
    background-color: #2572DE;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    margin-top: 20px;
  }

  &__btn--green {
    background-color: #2ECC71;
    &:hover, &:focus {
      background-color: #22af5e;
    }
  }

  @media (min-width: $screen-sm-min) { 
    padding: 80px 0;

    &__text {
      margin-bottom: 60px;
      max-width: 560px;
      margin-right: auto;
      margin-left: auto;
    }

    &__steps {
      display: flex;
      justify-content: center;
    }

    &__step {
      max-width: 260px;
      margin-right: 40px;
      &:last-child {
        margin: 0;
      }
    }

    &__btns {
      margin-top: 60px;
      display: block;
    }

    &__btn {
      display: inline-block;
      margin: 0;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}