$screen-sm-min: 767px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.dax30-live {
  padding: 60px 0;
  background-color: #F1F2F4;
  overflow: hidden;
  &__frame {
    padding: 0 20px;
  }

  &__text {
    margin: 10px 0 40px;
  }

  &__spec-subtitle {
    margin: 64px 0 0;
    padding: 0;
  }

  &__status-wrapper {
    margin-bottom: 20px;
  }
  &__status {
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;

    padding: 20px 0;
    margin-bottom: 20px;
  }

  &__status-arrow-down {
    padding-bottom: 3px;
  }

  &__status-text {
    color: #42455A;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 3px 0 10px;

    &--green {
      color: #26CD6F;
      font-size: 13px;
      line-height: 15px;
    }
  }

  &__btns-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__buy-btn {
    background-color: #2ECC71;
    &:hover, &:focus {
      background-color: #22af5e;
    }
    flex-basis: 155px;
  }
  &__sell-btn {
    background-color: #DA1924;
    flex-basis: 155px;
    margin-right: 20px;
    &:hover, &:focus {
      background-color: #bb151e;
    }
  }

  &__data-line {
    color: #8B8EA8;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    display: none;
    &--red {
      color: #DA1924;
      margin-right: 30px;
    }
    &--green {
      margin-right: 30px;
      color: #2ECC71;
    }
    &--blue {
      color: #2572DE;
      margin-left: 40px;
    }
    &--black {
      margin-right: 30px;
      color: #42455A;
    }
  }
  &__charts {
    max-height: 557px;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 60px;
    position: relative;
  }

  &__chart {
    padding: 0 0 40px 18px;
    position: relative;
    background-color: #fff;
  }
  &__canvas-chart {
    max-height: 450px;
  }

  &__tabs {
    min-height: 67px;
    padding: 0 20px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.06);
    margin-bottom: 40px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__tab-btn {
    display: inline-block;
    background: none;
    border: none;
    width: 23%;
    min-height: 67px;
    opacity: 0.5;
    color: #8B8EA7;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    cursor: pointer;
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
  }
  &__tab-btn.active-tab {
    opacity: 1;
    color: #2572DE;
    border-bottom: 2px solid #2572DE;
  }

  &__global {
    min-height: 336px;
    background-color: #fff;
    border-radius: 6px;
    padding: 40px 0;
  }

  &__global-title {
    margin-bottom: 10px;
  }
  &__specifications-slider {
    position: relative;
    .slick-arrow {
      position: absolute;
      top: 118px;
      z-index: 1;
      background-color: transparent;
      padding: 0;
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        background-color: #F1F2F4;
      }
    }

    .slick-arrow.slick-disabled {
      display: none !important;
    }

    .slick-prev {
      left: 40px;
    }
    .slick-next {
      right: 40px;
    }

    .arrow-text {
      color: #424559;
      font-size: 20px;
      line-height: 24px;
      padding: 0 5px;
      display: none;
    }
  }

  @media (min-width: $screen-sm-min) { 
    padding: 80px 0;

    &__text {
      margin-bottom: 60px;
      max-width: 760px;
      margin-right: auto;
      margin-left: auto;
    }
    &__spec-subtitle {
      margin: 80px 0 0;
    }

    &__status-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }

    &__status {
      margin-bottom: 0;
      flex-basis: 260px;
      margin-right: 20px;
    }
    &__btns-wrapper {
      flex-basis: 540px;
    }
    &__buy-btn, &__sell-btn {
      flex-basis: 260px;
    }

    &__data-line {
      display: block;
    }

    &__chart {
      padding: 0 40px 40px 40px;
    }
    &__tabs {
      padding: 0 40px;
    }


    &__specifications-slider {
      .slick-arrow {
        top: 50%;
        border-radius: 6px;
        background-color: #FFFFFF;
        box-shadow: 0 20px 40px 0 rgba(66,69,89,0.1);
        padding: 20px 30px;
        transform: translate(0, -50%);
        min-width: 229px;
      }

      .slick-prev {
        left: 0;
      }
      .slick-next {
        right: 0;
      }

      .arrow-text {
        display: inline-block;
      }
    }
  }
  @media (min-width: $screen-md-min) {
    &__tab-btn {
      width: 160px;
    }
    &__specifications-slider {
      .slick-prev {
        left: 7%;
      }
      .slick-next {
        right: 7%;
      }
    }
  }
  @media (min-width: $screen-lg-min) {
    &__specifications-slider {
      .slick-prev {
        left: 14%;
      }
      .slick-next {
        right: 14%;
      }
    }
  }
}
.specification.slick-current {
  transform: scale(1);
  filter: initial;
  transition: transform .5s;
  opacity: 1;
}
.specification {
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(66,69,89,0.1);
  padding: 40px 20px;
  margin: 40px 20px;

  transition: transform .5s;
  transform: scale(.8);
  filter: blur(5px);
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: .3;
  }
  &__subtitle {
    color: #8B8EA7;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    color: #424559;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin: 0 0 40px;
    padding: 0 20px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__params-title {
    color: #2585FF;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 6px;
  }

  &__prop {
    color: #8B8EA7;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0;
    margin: 0 20px 0 0;
  }

  &__value {
    color: #424559;
    font-size: 16px;
    line-height: 40px;
  }

  &__link-wrapper {
    margin-top: 20px;
    text-align: center;
  }

  &__link {
    color: #2072E1;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    text-transform: capitalize;
  }

  @media (min-width: $screen-sm-min) {
    margin: 40px;

    &__link-wrapper {
      text-align: start;
    }

  }

  @media (min-width: $screen-lg-min) {
    padding: 40px;
    &__prop, &__params-title {
      flex-basis: 45%;
    }
    &__value {
      flex-basis: 45%;
      text-align: start;
      flex-shrink: 1;
    }
  }
}