$screen-sm-min: 767px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


.dax30-education {
  padding: 60px 0;
	background-color: #F1F2F4;

  &__text {
    margin: 10px 0 40px;
  }

  &__link {
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    box-sizing: border-box;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link-img {
    width: 80px;
    height: auto;
    margin-right: 10px;
  }

  &__link-text {
    color: #42455A;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: underline;
    margin-bottom: 5px;
    display: block;
  }

  &__link-date {
    color: #8B8EA7;
    font-size: 14px;
    line-height: 16px;
  }

  @media (min-width: $screen-sm-min) { 
    padding: 80px 0;

    &__text {
      margin-bottom: 60px;
      max-width: 560px;
      margin-right: auto;
      margin-left: auto;
    }

    &__links {
      display: flex;
      justify-content: space-between;
    }
    &__link {
      max-width: 360px;
      margin-bottom: 0;
      flex-basis: 33%;
    }
    &__link-img {
      margin-right: 20px;
      align-self: center;
    }
  }
}