$screen-sm-min: 767px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


.dax30-about {
  padding: 60px 0;
  background-color: #fff;

  &__title {
    margin: 10px 0;
    color: #42455A;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
  }

  &__text {
    margin: 20px 0;
    &:last-child {
      margin-top: 40px;
    }

  }
  &__text--first {
    margin-bottom: 28px;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-img {
    width: 100%;
    height: auto;
  }

  @media (min-width: $screen-sm-min) { 
    padding: 75px 0 80px;

    &__title {
      margin: 20px 0;
      font-size: 40px;
      line-height: 46px;
    }
    
    &__text {
      margin-bottom: 60px;
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
    }
    &__text--first {
      margin-bottom: 28px;
    }

    &__logos {
      height: 70px;
      width: 457px;
      margin: 0 auto;
    }
  }
}