.dax30-why-trade {
  padding: 60px 0;
  background-color: #42455A; }
  .dax30-why-trade__subtitle {
    color: #fff; }
  .dax30-why-trade__text {
    margin: 10px 0 40px; }
  .dax30-why-trade__reason {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  .dax30-why-trade__reasons--on-desktop {
    display: none; }
  .dax30-why-trade__reason-icon {
    height: 60px;
    width: 60px;
    min-width: 60px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 7px;
    margin-right: 20px; }
  .dax30-why-trade__reason-title {
    color: #fff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 10px; }
  .dax30-why-trade__reason-text {
    text-align: left;
    color: #fff;
    opacity: .5; }
  .dax30-why-trade__btn-wrapper {
    text-align: center; }
  .dax30-why-trade__btn {
    text-transform: uppercase;
    min-width: 200px;
    background-color: #2572DE;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    margin-top: 20px; }
  @media (min-width: 767px) {
    .dax30-why-trade {
      padding: 80px 0; }
      .dax30-why-trade__text {
        margin-bottom: 60px;
        max-width: 560px;
        margin-right: auto;
        margin-left: auto; }
      .dax30-why-trade__reasons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
      .dax30-why-trade__reason {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-flex-basis: -webkit-calc(25% - 40px);
            -ms-flex-preferred-size: calc(25% - 40px);
                flex-basis: -moz-calc(25% - 40px);
                flex-basis: calc(25% - 40px);
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        margin: 0;
        margin-bottom: 40px; }
        .dax30-why-trade__reason:last-child {
          padding-right: 0; }
      .dax30-why-trade__reason-icon {
        margin: 0 0 20px; }
      .dax30-why-trade__reason--on-desktop {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; } }
  @media (min-width: 1200px) {
    .dax30-why-trade__reason-title--one-line {
      margin-right: -8px; } }
